body{
    font-family:'inter';
    margin: 0;
    padding: 0;
    width: 100%;
}
#principal h1{
    font-size: 40px;
    margin-left: 25px;

}

#principal{
    background-color: rgba(12, 112, 242, 1);
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
#principal div a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1); 
    font-size: 25px;
    padding: 36px;
}
#principal div a:hover{
    color:  rgb(205, 219, 236) ;
}


#menu{
   display: flex;
   margin-left: 550px;
 
}
/* fase 1 */
section{
    background-color: rgba(242, 242, 242, 1);
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fase1{
    display: flex;
    padding-top: 90px;

}
#text{
    font-size: 35px;
    margin-left: 20px;
}
#img{
    margin-left: 60px;
}

  
.form{
    padding: 100px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px

}
.form label{
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 3;
}
.form input{
    border-radius: 4px;
    width: 450px;
    height:40px ;
    background-color: rgba(242, 242, 242, 0.9);
    border: 0;
    padding: 5px;
}
.lat-long{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.input-lat-long{
   margin: 20px;
}

button{
    background-color: rgba(12, 112, 242, 0.9);
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    font-weight: 600;
    width: 480px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    box-shadow:  0px 6px 4px rgba(12, 112, 242, 0.25);
    margin-top: 30px;
    cursor: pointer;
}
button:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
    color:rgba(197, 212, 231, 0.9) ;
 }
/* cep*/

.logo{
    display: flex;
    margin-top: 200px;
}
p{
    font-size: 50px;
    font-weight: 800;
    margin-top: 100px;
}
.tabela img{
    padding:90px ;
} 
#endereco{
    display: flex;
    justify-content: space-around;
    background-color: rgba(12, 112, 242, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 30px 30px 0px 0px;
    width: 1000px;
    padding-right: 100px; 
}
#via-cep{
    background-color:rgba(255, 255, 255, 1);
    width: 1000px; 
    padding-right: 100px; 
    height: 60px;
    border-radius: 0px 0px 30px 30px;
   
}
#via-cep input{
   width: 190px;
   height: 40px;
   margin-inline-start: 110px;
   border-radius:0px 0px 30px 30px ;
   padding: 12px;  
   border: none;
}

  

/* previsao do tempo*/
#tempo {
    margin-bottom: 150px;

}
#previsao{
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(12, 112, 242, 1);
    border-radius: 30px;
    width: 700px;
    height: 40px;
    padding-left: 190px;
    padding-top: 15px;
    font-size: 18px ;
    font-weight: 800;
}
#previsao input{
    border: none;
    height: 30px;
}
#tempo-prev{
    font-size: 18px;
    font-weight: 800;
   
}
/* rodapé*/
#footer{
    background-color: rgba(12, 112, 242, 1);
    width: 100%;
    text-align: right;
    padding: 20px;
    cursor: pointer;
}
#footer a{
    font-size: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin-right: 50px;
    
}
#footer a:first-child{
    border-right: 2px solid white;
    margin-right: 10px;
}
#footer a:hover{
    color: rgb(146, 186, 238);;
     
}